*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

.nav-pills .nav-link {
  font-size: 1.6rem;
  color: black;
  margin: 0 0px;
  padding: 7px 30px !important;
  &:hover,
  &.active {
    background: green !important;
    color: white;
  }
}

p.userarea {
  font-size: 1.4rem;
  margin-bottom: 0;
  & a {
    color: green;
  }
}

main {
  font-size: 1.6rem;
  padding: 0px;
  position: relative;
  height: 100vh;

  & .loginbox {
    width: 100%;
    max-width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

footer {
  font-size: 1.3rem;
  padding: 0.5rem !important;
}

//////////////////////////
///
///

.rdt_TableHeadRow {
  min-height: auto;
  padding: 10px;
  font-weight: bold;
  font-size: 1.4rem !important;
  & .rdt_TableCol {
  }
}

.rdt_TableCell {
  font-size: 1.4rem !important;
}

.rdt_TableCell div:first-child {
  white-space: inherit !important;
  padding: 5px;
}
